/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
html, body, h1, h2, h3, h4, h5, h6, p, a, span, button, input{
    font-family: Montserrat,sans-serif;
    font-weight: 300;
    letter-spacing: .1em;
}

p, h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
html{
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}
body {
    max-width: 500px
}

.clickable{
    cursor: pointer;
}

button{
    background: #eee;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}